<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seuic.gaojie">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/timg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.ActivityMain"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityExport"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activity.ActivityImport"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activity.ActivityEdit"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="standard"
            />
        <activity android:name=".activity.ActivitySetting"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            />
    </application>

</manifest>